.u-loading-warp {
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    // background: var(--kui-color-border);
    @include background('border-base');
    height: 5px;
    .u-loading-line {
        height: 100%;
        transition: width 0.2s ease-in-out;
        // background-color: var(--kui-color-main);
        @include background-color('primary');
        height: 5px;
    }
    .u-loading-line-error {
        @include background-color('danger');
        // background-color: var(--kui-color-danger) !important;
    }
    .u-loading-inner {
        margin: 0 auto;
        position: relative;
        text-align: center;
        top: 50%;
        margin-top: -17.5px;
    }
    .u-loading-animate {
        width: 35px;
        height: 35px;
        margin: 0 auto;
    }
}
