.u-spin {
    // min-width: 50px;
    // min-height: 50px;
    display: inline-block;
    position: relative;
    &-loading {
        // background-color: var(--kui-color-spin);?
        @include background-color("background-loading");
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        left: 0;
        top: 0;
    }
    &-flip {
        &::after {
            content: "";
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -20px;
            margin-top: -20px;
            //   background-color: var(--kui-color-main);
            @include background-color("primary");
            animation: u-spin-animate-flip 4s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
        }
    }
    &-bounce {
        &::before,
        &::after {
            content: "";
            width: 40px;
            height: 40px;
            border-radius: 50%;
            //   background-color: var(--kui-color-main);
            @include background-color("primary");
            opacity: 0.6;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -20px;
            margin-top: -20px;
            animation: u-spin-animate-bounce 2s infinite ease-in-out;
        }
        &::before {
            animation-delay: -1s;
        }
    }
    &-zoom {
        &::before,
        &::after {
            content: "";
            width: 40px;
            height: 40px;
            border-radius: 50%;
            //   background: var(--kui-color-main);
            @include background("primary");
            opacity: 0.6;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -20px;
            margin-top: -20px;
            animation: u-spin-animate-zoom 2s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
            // animation: zoom 2.0s infinite ease-in-out;
        }
        &::before {
            animation-delay: -1s;
        }
    }
    &-rotate {
        &::before,
        &::after {
            //   border: 5px solid var(--kui-color-main-90);
            @include border(5px, solid, "primary-90");
            border-radius: 50%;
            content: "";
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -20px;
            margin-top: -20px;
        }
        &::after {
            border: 5px solid transparent;
            //   border-top-color: var(--kui-color-main);
            @include border-top(5px, solid, "primary");
            animation: u-spin-animate-rotate 1s infinite linear;
            box-sizing: content-box;
        }
    }
}

@keyframes u-spin-animate-flip {
    25% {
        transform: perspective(100px) rotateX(180deg) rotateY(0);
    }
    50% {
        transform: perspective(100px) rotateX(180deg) rotateY(180deg);
    }
    75% {
        transform: perspective(100px) rotateX(0) rotateY(180deg);
    }
    100% {
        transform: perspective(100px) rotateX(0) rotateY(0);
    }
}

@keyframes u-spin-animate-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes u-spin-animate-bounce {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

@keyframes u-spin-animate-zoom {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
