.u-form {
    .u-form-item {
        margin-bottom: 24px;
        vertical-align: top;
        zoom: 1;
        // color: var(--kui-color-font);
        @include color("color-primary");
        // margin-bottom: 5px;
        .u-form-item {
            margin-bottom: 0;
            flex: 1;
            margin-left: 8px;
            &:first-child {
                margin-left: 0;
            }
            .u-col {
                flex: 1;
            }
        }
    }
    .u-form-item-label {
        text-align: right;
        box-sizing: border-box;
        font-size: 14px;
        display: flex;
        height: 32px;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        justify-content: flex-end;
        &::after {
            content: ":";
            padding: 0 8px 0 5px;
        }
    }
    .u-form-item-content {
        position: relative;
        min-height: 32px;
        display: flex;
        align-items: center;
        transition: all 0.3s ease-in-out;
    }
    .u-form-item-error-tip {
        position: absolute;
        top: 100%;
        left: 0;
        // color: var(--kui-color-danger);
        @include color("danger");
        line-height: 1.5;
        transform-origin: 0 0;
        margin: 0;
        font-size: 12px;
        line-height: 1.5;
    }
    .u-form-item-required {
        .u-form-item-label {
            &::before {
                content: "*";
                display: inline;
                margin-right: 4px;
                line-height: 1;
                font-family: SimSun;
                font-size: 12px;
                // color: var(--kui-color-danger);
                @include color("danger");
            }
        }
    }
    .u-form-item-error {
        .u-input,
        .u-textarea,
        .u-datepicker,
        .u-input-number {
            @include color("danger");
            @include border(1px, solid, "danger");
            &:focus {
                @include border(1px, solid, "danger");
                @include box-shadow("",0, 0, 5px, "danger-30");
            }
        }
        .u-select {
            .u-select-selection {
                @include border(1px, solid, "danger");
            }
            // .u-select-arrow {
            //      @include border(1px, solid, "danger");
            // }
        }
        .u-radio-group .u-btn {
            @include border(1px, solid, "danger");
        }
        .u-select-open .u-select-selection {
            @include box-shadow("",0, 0, 5px, "danger-30");
        }
        .u-datepicker-open {
            @include box-shadow("",0, 0, 5px, "danger-30");
        }
    }
}

.u-form-label-right {
    .u-form-item-label {
        // text-align: right;
        justify-content: flex-end;
    }
}

.u-form-lg {
    .u-form-item-label {
        height: 40px;
    }
    .u-form-item-content {
        min-height: 40px;
    }
}

.u-form-vertical {
    .u-form-item {
        flex-direction: column;
    }
    .u-form-item-label {
        height: auto;
        justify-content: start;
        margin-bottom: 8px;
        &::after {
            display: none;
        }
    }
}

.u-form-inline {
    display: flex;
    flex-wrap: wrap;
    .u-form-item {
        flex: none;
        flex-wrap: nowrap;
        margin-right: 16px;
        margin-bottom: 18px;
        .u-form-item {
            margin-left: 0;
        }
    }
}

.u-form-lg {
}

.u-form-sm {
    .u-form-item-label {
        height: 24px;
    }
    .u-form-item-content {
        min-height: 24px;
    }
}

@keyframes u-form-item-fade-in {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes u-form-item-fade-out {
    0% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(0);
        opacity: 0;
    }
}

.u-form-item-fade-enter-active {
    animation: u-form-item-fade-in 0.3s;
}

.u-form-item-fade-leave-active {
    animation: u-form-item-fade-out 0.3s;
}
